.__minimap {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 1px;
  bottom: 0;
  z-index: 1;
}
.__minimap-container {
  position: relative;
}
.__minimap canvas {
  image-rendering: pixelated;
  opacity: .5;
}
.__minimap-focus {
  background: #000;
  position: absolute;
  opacity: .05;
  width: 100%;
  transition: opacity .1s ease;
}
.__minimap:hover .__minimap-focus {
  opacity: .1;
}
